# To override the default server ports, copy this file to .env and edit the variables below.
PAZ_TUTORIALS_PAZ_PORT=7443
PAZ_TUTORIALS_PAP_PORT=8443
PAZ_TUTORIALS_CONSOLE_PORT=5443

# If accessing the Policy Editor using a hostname other than "localhost" modify the environment variable
# below to pass browser CORS checks.
PAZ_TUTORIALS_PAP_HOSTNAME=localhost

# You should not need to modify the below variables
PAZ_TUTORIALS_PROFILE_BRANCH=9.2
PAZ_TUTORIALS_DEVOPS_REGISTRY=docker.io/pingidentity
PAZ_TUTORIALS_DEVOPS_TAG=9.2.0.0-edge

